<div class="w-full"> 
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Membros</h1>
    <%= link_to "Novo membro", new_membro_path, class: "rounded-lg py-3 px-5 bg-RC-dark text-white block font-medium" %>
  </div>

  <div id="membros" class="min-w-full">
    <%= render @membros %>
  </div>
  
  <% if notice.present? %> 
    <%= render_toast header: notice %>
  <% end %>
</div>
