<div class="w-full">
  <% if notice.present? %> 
    <%= render_toast header: notice %>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Eventos</h1>
    <%= link_to "New evento", new_evento_path, class: "rounded-lg py-3 px-5 bg-RC-dark text-white block font-medium" %>
  </div>

  <div id="eventos" class="min-w-full">
    <%= render @eventos %>
  </div>
</div>
