<div>
  <h1 class="text-xl mb-5">Gerenciamento ECyD</h1>

  <div class="flex flex-col">
    <a href="/membros" class="bg-blue-500 hover:bg-blue-700 text-black py-2 px-4 rounded mt-5">
      Membros ECyD
    </a>
    <a href="/eventos" class="bg-blue-500 hover:bg-blue-700 text-black py-2 px-4 rounded mt-5">
      Eventos
    </a>
  </div>
  
</div>
